@model BugTrackerApp.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.ProjectTitle)
    </h4>
    <p>
        @Html.DisplayFor(model => model.ProjectDescription)
    </p>
    <hr />
    <h3>Issues</h3>
    <p>Will be here soon</p>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
